#canvas-box {
  width: 100vw;
  height: 40vw;
  background: #444;
  position: relative;
  cursor: cell;
  overflow: hidden;
  z-index: 2;
  .sOut & >* {
    transform: translateY(-100vh);
    transition: 1s 1s;
    & *, & *::before {
      transform: translateY(-50vh);
      transition: 2s;
    }
  }
  .sIn & >* {
    transition: 2s;
    & *, & *::before {
      transition: 1s 1s;
    }
  }
}

:where(#canvas) {
  position: absolute;
  * {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
  }
  >*:not(o) { /* All but bullets has shadow */
    filter: drop-shadow(0 0 .3em #000c)
  }
}

#canvas > o { /* Bullet */
  width: .4em;
  height: .4em;
  bottom: 9999em;
  margin: 0 0 -.2em -.2em;
  border-radius: 50%;
  background: #111;
  z-index: 8000;
}

#canvas-box:has(#player.s) {
  cursor: none;
  #target {
    position: absolute;
    left: 0;
    bottom: 0;
    width: .2em;
    height: 4em;
    background: #000;
    opacity: .8;
    margin: 0 0 -2em -.1em;
    z-index: 9000;
    pointer-events: none;
    .news & { display: none /* remove target from newspaper */ }
    &::before {
      content: "";
      position: absolute;
      left: -1.9em;
      bottom: 1.9em;
      width: 4em;
      height: .2em;
      background: #000;
    }
    &::after {
      content: "";
      position: absolute;
      left: -1.3em;
      bottom: .6em;
      width: 2em;
      height: 2em;
      border: .4em solid #000;
      background: rgba(255,255,255,.3);
      border-radius: 2em;
    }
  }
}
