body {
  margin: 0;
  padding: 0;
  background: #111;
  color: #EEE;
  font-family: sans-serif;
  font-size: 1vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  user-select: none;
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

#canvas-box {
  width: 100vw;
  height: 40vw;
  background: #47A;
  position: relative;
  cursor: none; /* cursor: cell */
  overflow: hidden;
  z-index: 2;
}

:where(#canvas) {
  position: absolute;
  * {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
  }
}

#canvas > o { /* Bullet */
  width: .4em;
  height: .4em;
  bottom: 9999em;
  margin: 0 0 -.2em -.2em;
  border-radius: 50%;
  background: #111;
  z-index: 8000;
}

#target {
  position: absolute;
  left: 0;
  bottom: 0;
  width: .2em;
  height: 4em;
  background: #000;
  opacity: .8;
  margin: 0 0 -2em -.1em;
  z-index: 9000;
  pointer-events: none;
  .news & { display: none /* remove target from newspaper */ }
  &::before {
    content: "";
    position: absolute;
    left: -1.9em;
    bottom: 1.9em;
    width: 4em;
    height: .2em;
    background: #000;
  }
  &::after {
    content: "";
    position: absolute;
    left: -1.3em;
    bottom: .6em;
    width: 2em;
    height: 2em;
    border: .4em solid #000;
    background: rgba(255,255,255,.3);
    border-radius: 2em;
  }
}
